<%= render 'layouts/header' %>

<h1>Create new page</h1>

<%= form_for(@pages) do |f| %>
  <div class="form-group">
    <%= f.label :parent_id %>
    <%= f.collection_select :parent_id, Page.all, :id, :name, include_blank: true, prompt: 'Select parent_id' %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, rows: 6 %>
  </div>
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>

<%= render 'layouts/footer' %>
